doctype html
html
  head
    title Goorm
    meta(charset='utf-8')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  body
    article.container
      section
        h1 Signup
        form(action='/users', method='post')
          input(type='text', placeholder='Username', name='email', required='')
          br
          input(type='password', placeholder='Password', name='password', required='')
          br
          input(type='submit' value='signup')
